.header {
  height: 60px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  background: linear-gradient(90deg, #1a2525, #5d89b5);
  margin-bottom: -40px;
}

.headerhidden {
  top: -60px; /* Move the header out of view */
}

.link {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: var(--mantine-color-gray-1);
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  width: 120px;
  transition: background-color 0.2s, border-radius 0.2s;
}

.link:hover {
  background-color: rgb(75, 182, 218);
  border-radius: 80px;
  /* Set the desired border radius on hover */
}

@media (max-width: 600px) {

  /* Adjust the max-width value according to your design */
  .link {
    height: 42px;
    width: 100%;
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
}

.subLink:hover {
  background-color: var(--mantine-color-gray-0);
}

.dropdownFooter {
  background-color: var(--mantine-color-gray-0);
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid var(--mantine-color-gray-1);
}